version: '3'
services:  
    postges:
        container_name: postgres_database
        image: postgres:9.6
        environment:
            POSTGRES_DB: 'foodstories'
            POSTGRES_USER: 'muradaghazada'
            POSTGRES_PASSWORD: '885522'
        ports: 
            - 5432:5432
        volumes: 
            - ./postgre_db:/var/lib/postgresql/data







# https://github.com/kanan132/foodstories/blob/master/food_site/docker-compose.yml